* {
	box-sizing: border-box;
}

body {
	background-color: #edeff2;
	font-family: "CircularStd-Book";
}

.login-facebook{
    position: relative;
    float: left;
    width: 300px;
    background-color: #3B5998;
    padding: 10px;
    color: #fff;
    border: none;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.chat_window {
	position: absolute;
	width: 50%;
	border-radius: 10px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.05);
	background-color: #f8f8f8;
	overflow: hidden;
}

.top_menu {
	background-color: #fff;
	width: 100%;
	padding: 20px 0 15px;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.05);
}

.top_menu .title {
	text-align: center;
	color: #bcbdc0;
	font-size: 20px;
	font-family: 'CircularStd-Bold';
}

.messages {
	position: relative;
	list-style: none;
	padding: 20px;
	margin: 0;
	height: 50vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
.messages .message-alert {
	text-align: center;
	color: #bcbdc0;
	font-size: 16px;
	font-family: 'CircularStd-Bold';
}

.messages .message {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
	transition: all 0.5s linear;
	opacity: 0;
}
.messages .message.left .avatar {
	float: left;
}
.messages .when{
	font-size: 12px;
	text-align: right;
}
.messages .email{
	font-size: 14px;
	font-family: 'CircularStd-Bold';
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.messages .message.right .when {
	color: #45829b;
}
.messages .message.left .when {
	color: #c48843;
}
.messages .message.right .email {
	color: #45829b;
	border-bottom: 1px solid #b5daec;
}
.messages .message.left .email {
	color: #c48843;
	border-bottom: 1px solid #eccead;
}
.img-avatar {
	height: 60px;
	width: 60px;
	border-radius: 50%;
}
.messages .message.left .text_wrapper {
	background-color: #ffe6cb;
	margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
	right: 100%;
	border-right-color: #ffe6cb;
}
.messages .message.left .text {
	color: #c48843;
}
.messages .message.right .avatar {
	float: right;
}
.messages .message.right .text_wrapper {
	background-color: #c7eafc;
	margin-right: 20px;
	float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
	left: 100%;
	border-left-color: #c7eafc;
}
.messages .message.right .text {
	color: #45829b;
}
.messages .message.appeared {
	opacity: 1;
}
.messages .message .avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: inline-block;
}
.messages .message .text_wrapper {
	display: inline-block;
	padding: 12px 14px;
	border-radius: 6px;
	width: calc(100% - 85px);
	min-width: 100px;
	position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
	top: 18px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.messages .message .text_wrapper::after {
	border-width: 13px;
	margin-top: 0px;
}
.messages .message .text_wrapper::before {
	border-width: 15px;
	margin-top: -2px;
}
.messages .message .text_wrapper .text {
	font-size: 18px;
	font-weight: 300;
}

.bottom_wrapper {
	position: relative;
	width: 100%;
	background-color: #fff;
	padding: 20px 20px;
}
.bottom_wrapper .message_input_wrapper {
	display: inline-block;
	height: 50px;
	border-radius: 25px;
	border: 1px solid #bcbdc0;
	width: calc(100% - 160px);
	position: relative;
	padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
	border: none;
	height: 100%;
	box-sizing: border-box;
	width: calc(100% - 40px);
	position: absolute;
	outline-width: 0;
	color: gray;
}
.bottom_wrapper .send_message {
	width: 140px;
	height: 50px;
	display: inline-block;
	border-radius: 50px;
	background-color: #a3d063;
	border: 2px solid #a3d063;
	color: #fff;
	cursor: pointer;
	transition: all 0.2s linear;
	text-align: center;
	float: right;
}
.bottom_wrapper .send_message:hover {
	color: #a3d063;
	background-color: #fff;
}
.bottom_wrapper .send_message .text {
	font-size: 18px;
	font-weight: 300;
	display: inline-block;
	line-height: 48px;
}

.message_template {
	display: none;
}

/* Responsive Adjustments */

@media screen and (max-width: 1199px){
	.chat_window {
		width: 80%;
		height: 90vh;
	}
	.messages {
	    height: 74vh;
	}
}

@media screen and (max-width: 700px){
	.chat_window {
		height: 95vh;
	}
	.bottom_wrapper .send_message {
	    width: 100%;
	}
	.bottom_wrapper .message_input_wrapper {
	    width: 100%;
	}
	.messages .email {
	    font-size: 10px;
	}
	.messages .message .text_wrapper .text {
	    font-size: 12px;
	}
	.messages .when {
	    font-size: 9px;
	    text-align: right;
	}
	.messages .message .avatar {
	    width: 40px;
	    height: 40px;
	}
	.img-avatar {
	    height: 40px;
	    width: 40px;
	    margin-top: 10px;
	}
	.bottom_wrapper .message_input_wrapper {
	    height: 35px;
	}
	.bottom_wrapper .send_message{
		height: 35px;
		line-height: 35px;
	}
	.bottom_wrapper .send_message .text{
		font-size: 16px;
		line-height: 35px;
	}
	.messages {
	    height: 71vh;
	}
	.chat_window {
		width: 90%;
	}
}